
<div class="container">

  <h2><b><u>Agenda</u></b></h2>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
      </div>

    </div>

  </div>

</div>

<!-- <div class="col-md-4">
      <div ng-show="SelectedEvent" class="alert alert-success" style="margin-top:50px">
        <h2 style="margin-top:0px"> {{SelectedEvent.id}}</h2>
        <h3 style="color:#A9A50E">{{SelectedEvent.title}}</h3>
        <p>{{SelectedEvent.description}}</p>
      </div>
    </div>-->
<!--<div class="container">
  <form>
    <div class="form-inline">
      <h3>Agenda</h3>
      <br>
       <div class="form-inline">
           <div class="input-group">
             <span class="input-group-addon">Mes:</span>
             <input type="text" class="form-control">
             <span class="input-group-addon"><a><span title="Mes siguiente!" class="glyphicon glyphicon-plus"></span></a></span>
             <span class="input-group-addon"><a><span title="Mes Anterior!" class="glyphicon glyphicon-minus"></span></a></span>
           </div>
           <div class="input-group">
             <span class="input-group-addon">Año</span>
             <input type="text" class="form-control">
             <span class="input-group-addon"><a><span title="Aumenter año!" class="glyphicon glyphicon-plus"></span></a></span>
             <span class="input-group-addon"><a><span title="Disminuir Año!" class="glyphicon glyphicon-minus"></span></a></span>
            </div>
    </div>
    </div>
  </form>

</div>
-->
